<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
    <img width="300" src="assets/images/Portfolio.jpg" style="border: solid"/>
  <h2>Links About Me</h2>
  <ul>
    <li>
      <h2><a href="https://github.com/MrCooper42">Github</a></h2>
    </li>
    <li>
      <h2><a href="https://www.linkedin.com/in/mrcooper42">Linkedin</a></h2>
    </li>
    <li>
      <h2><a href="">Blog</a></h2>
    </li>
  </ul>
</div>

<!-- <h1 class="text-sm-center">
  {{title}}
</h1>
<router-outlet></router-outlet> -->